*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
/*
@font-face {
    font-family: "main";
    src: url(fonts/main.ttf);
}
@font-face {
    font-family: "titles";
    src: url(fonts/titles.ttf);
}
*/
/*----------------------------------------------*/
.navbar nav{
    display: flex;
    justify-content: center;
}
nav img{
    margin-top: 15px;
    width: 65px;
    height: auto;
}
.toptext{
    margin-top: 30px;
}
.toptext a{
    color: black;
    font-weight: bold;
    margin: 30px;
    transition: 0.2s;
    font-size: 20px;
}
.toptext a:hover{
    color: #d52a1c;
    scale: 0.95;
    transition: 0.2s;
}
.toptext .active{
    border-bottom: 3px solid #d52a1c;
}
.mmenu{
    display: none;
}
/*-----------------------------------------------*/
#gallery {
    top: 70px;
    position: absolute;
    width: 100%;
    height: 810px;
    overflow: hidden;
  }
  .slide {
    width: 1300px;
    margin: auto;
    animation: slideAnimation 0.5s ease;
  }
  .slide img{
    filter: drop-shadow(0px 0px 0.75rem rgb(0, 0, 0));
    width: 1300px;
    height: auto;
    margin: 30px 0 50px 0;
    border-radius: 30px;
  }
  .slide h1{
    font-size: 50px;
    color: #fff;
    position: relative;
    top: -300px;
    left: 100px;
  }
  .slide h2{
    position: relative;
    top: -295px;
    left: 100px;
    color: #fff;
  }
  .slide p{
    position: relative;
    top: -275px;
    left: 100px;
    color: #fff;
    font-size: 25px;
    max-width: 1100px;
  }
  .slide .pointbar{
    position: relative;
    top: -150px;
    display: flex;
    justify-content: center;
  }  
  .slide .pointbartwo{
    position: relative;
    top: -178px;
  }   
  .slide .pointbartree{
    position: relative;
    top: -178px;
  }
  .pointbar i{
    color: #3b3b3bd8;
    font-size: 20px;
    margin: 0 10px;
  }
  .pointbar .mainpoint{
    color: #d52a1c;
    scale: 1.3;
  }
  .navigation {
    position: absolute;
    top: 460px;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
  }
  .navigation .arrle{
    margin-right: 700px;
  }
  .navigation .arrri{
    margin-left: 700px;
  }
  .navigation a h1{
    font-size: 25px;
    color: #fff;
    border-radius: 100%;
    background-color: #3b3b3bd8;
    padding: 3px 8px 9px 8px;
    font-weight: bold;
    transition: 0.2s;
  }
  @media (min-width: 950px){
  .navigation a h1:hover{
    transition: 0.2s;
       background-color: #d52a1c;
       scale: 1.3;
  }
}
  @keyframes slideAnimation {
    from {
      opacity: 0;
      transform: translateX(0);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.arrow{
    display:none;
}
/*-----------------------------------------------*/
.aboutus{
    margin: auto;
    width:  1300px;
    margin-top: 1000px;
    padding-bottom: 200px;
}
.aboutus h1{
    font-size: 40px;
    border-bottom: 4px solid #d52a1c;
}
.aboutus h2{
    margin-top: 10px;
    font-size: 25px;
    text-align: justify;
}
/*-----------------------------------------------*/
.stats{
    margin: auto;
    width:  1300px;
    padding-bottom: 100px;
}
.stats h1{
    font-size: 40px;
    border-bottom: 4px solid #d52a1c;
}
.stats h1 span{
    position: relative;
    top: -7px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    padding: 8px 10px 8px 5px;
    border-radius: 20px
}
.stats h1 i{
    font-size: 20px;
    color: red;
    padding: 5px 13px;
    border-radius: 100%;
    background-color: aliceblue;

}
.stats .counts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stats .counts div{

    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 200px;
    width: 200px;
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 10px  #d52a1c;
}
.stats div h1{
    margin-top: 10px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 20px;
}
.stats div h2{
    display: block;
    font-size: 35px;
}
/*-----------------------------------------------*/
.new{
    margin: auto;
    width:  1300px;
    padding-bottom: 100px;
}
.new h1{
    font-size: 40px;
    border-bottom: 4px solid #d52a1c;
}
.moduls{
    display: flex;
    width: 1320px;
    flex-wrap: wrap;
}
.squaimg img{
    height: 460px;
    width: 460px;
}
.rectimg img{
    height: 460px;
    width: 820px;
}
.news{
    font-family: titles;
    transition: 0.4s;
    width: auto;
    margin: 8px 5px;
}
.newb{
    position: relative;
    top: -70px;
}
.bottext{
    top: -100px;
    position: relative;
    color: #fff;
    left: 30px;
}
.bottext h1{
    border: none;
    font-size: 35px;
}
.contbutton{
    position: relative;
    width: 250px;
    top: -40px;
    margin: auto;
}
.contbutton a h1 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 14px -7px #0d3a54 ;
  background-image: linear-gradient(45deg, #d52a1c 0%, #0d3a54  51%, #d52a1c  100%);
  user-select: none;
  -webkit-user-select: none;
  font-size: 25px;
}

.contbutton a h1:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.contbutton a h1:active {
  transform: scale(0.95);
}
/*-----------------------------------------------*/
.bottom{
    background: linear-gradient(45deg , #d52a1c,#0d3a54 );
    color: aliceblue;
    padding-bottom: 30px;
}
.bottom .mbot{
    padding-top: 70px;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.bottom .infos{
    width: 400px;
    margin-right: 800px;
}
.bottom .infos h1{
    border-bottom: 4px solid aliceblue;
}
.bottom .infos h2{
    font-size: 20px;
    margin: 10px 0;
}
.bottom .infos i{
    padding-right: 10px;
}
.bottom .social{
    font-size: 50px;
}
.bottom .social i{
    text-decoration: none;
    color: aliceblue;
}
.bottom p{
    text-align: center;
    padding: 10px 0;
}

/*-------------------------------------------------------*/

@media (min-width: 1100px){
    .news:hover{
       cursor: pointer;
       scale: 0.9;
       transition: 0.4s;
    }
}

/*------------------------------------------------------*/

@media (max-width: 1500px) {
    .toptext a{
        margin: 20px;
        font-size: 17px;
    }
    nav img{
        margin-top: 20px;
        width: 47px;
        height: auto;
    }
    #gallery {
        top: 60px;
        width: 100%;
        height: 650px;
      }
    .slide {
        width: 1000px;
        margin: auto;
      }
    .slide img{
        width: 1000px;
    }
    .slide h1{
        font-size: 40px;
        top: -250px;
        left: 70px;
      }
      .slide h2{
        top: -248px;
        left: 70px;
      }
      .slide p{
        top: -240px;
        left: 70px;
        font-size: 20px;
        max-width: 900px;
      }
      .slide .pointbar{
        position: relative;
        top: -130px;
        display: flex;
        justify-content: center;
      }  
      .slide .pointbartwo{
        position: relative;
        top: -158px;
      }   
      .slide .pointbartree{
        position: relative;
        top: -158px;
      }
    .navigation {
        top: 360px;
      }
      .navigation .arrle{
        margin-right: 550px;
      }
      .navigation .arrri{
        margin-left: 550px;
      }
    .aboutus{
        position: relative;
        top: -100px;
        width:  1000px;
    }
    .stats{
        width:  1000px;
    }
    .stats .counts div{
        margin: 50px 10px;
    }
    .new{
        width:  1000px;
    }
    .squaimg img{
        height: 345px;
        width: 345px;
    }
    .rectimg img{
        height: 345px;
        width: 630px;
    }
    .news{
        margin: 8px 7px;
    }
    .bottom .infos{
        margin-right: 630px;
    }
}

/*-------------------------------------------------------*/

@media (max-width: 950px) {
    .navbar .toptext{
        display: none;
    }
    .navbar img{
        width: 45px;
        height: 35px;
    }
    .mmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .menu-button {
        cursor: pointer;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
        transition: 0.4s;
        z-index: 1;
    }
    
    .menu {
        display: none;
        transition: display 1s;

    }
    
    .menu.active {
        display: block;
        position: absolute;
        z-index: 2;
        background-color: #fff;
        left: 15px;
        top: 40px;
        transition: 1s;
        border-radius: 10px;
    }
    
    .menu ul {
        list-style: none;
        padding: 0;
        width: 150px;
        border: 1px solid gray;
        transition: 1s;
        border-radius: 10px;
    }
    
    .menu li {
        margin: 15px 0;
        text-align: center;
        transition: 1s;
    }
    
    .menu a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
    }
    .menu .mactive{
        border-bottom: 3px solid red;
    }
    #gallery {
        height: 600px;
      }
    .slide {
        width: 90%;
        margin: auto;
      }
      .slide img{
        width: 100%;
        height: 500px;
        margin: 30px 0 50px 0;
        object-fit: cover;
        border-radius: 30px;
      }
      .slide h1{
        font-size: 28px;
        text-align: center;
        top: -265px;
        left: 0px;
        width: 300px;
        margin: auto;
      }
      .slide h2{
        top: -258px;
        font-size: 18px;
        left: 0px;
        text-align: center;
        width: 300px;
        margin: auto;
      }
      .slide p{
        text-align: center;
        top: -250px;
        font-size: 18px;
        left: 0px;
        width: 300px;
        margin: auto;
      }
      .slide .pointbar{
        position: relative;
        top: -174px;
        display: flex;
        justify-content: center;
      }  
      .slide .pointbartwo{
        position: relative;
        top: -195px;
      }   
      .slide .pointbartree{
        position: relative;
        top: -163px;
      }
      .navigation {
        top: 630px;
      }
      .pointbar i{
        font-size: 17px;
        margin: 0 6px;
      }
      .navigation .arrle{
        margin-right: 60px;
      }
      .navigation .arrri{
        margin-left: 60px;
      }
    .arrow{
        position: relative;
        display: block;
        text-align: center;
        top: 650px;
    }
    .arrow i{
        font-size: 40px;
    }
    .aboutus{
        margin-top: 800px;
        width:  90%;
        padding-bottom: 100px;
    }
    .aboutus h1{
        font-size: 30px;
        border-bottom: 4px solid red;
    }
    .aboutus h2{
        font-size: 16px;
    }
    .stats{
        width: 90%;
    }
    .stats h1{
        font-size: 30px;
        border-bottom: 4px solid red;
    }
    .stats h1 span{
        top: -4px;
        font-size: 15px;
        background-color: red;
        padding: 5px 6px 5px 2px;
        border-radius: 20px
    }
    .stats h1 i{
        font-size: 15px;
        padding: 4px 9px;
    }
    .stats .counts{
        display: block;
    }
    .stats .counts div{
        height: 150px;
        width: 150px;
        border: solid 6px  red;
        margin: 30px auto;
    }
    .stats div h1{
        font-size: 17px;
    }
    .stats div h2{
        font-size: 23px;
    }
    .new{
        margin: auto;
        width:  90%;
        padding-bottom: 100px;
    }
    .new h1{
        font-size: 30px;
        border-bottom: 4px solid red;
    }
    .moduls{
        display: block;
        width: 330px;
        flex-wrap: wrap;
        margin: auto;
    }
    .squaimg{
        width: 330px;
        height: auto; 
        overflow: hidden;
        border-radius: 30px;
    }
    .rectimg{
        width: 330px;
        height: auto; 
        overflow: hidden;
        border-radius: 30px;
    }
    .newb{
        position: relative;
        top: 0;
    }
    .newm1{
        position: relative;
        top: -40px;
    }
    .newm2{
        position: relative;
        top: -80px;
    }
    .newm3{
        position: relative;
        top: -145px;
    }
    .news{
        margin: 10px 0px;
    }
    .bottext{
        position: relative;
        color: #fff;
        left: 40px;
        width: 300px;
    }
    .bottext h1{
        border: none;
        font-size: 25px;
    }
    .contbutton{
        position: relative;
        top: -100px;
        margin: auto;
    }
    .contbutton a h1{
        text-align: center;
        border: none;
        color: white;
        font-size: 25px;
        padding: 10px 15px;
    }
     .bottom .mbot{
        display: block;
        margin: auto;
     }
     .bottom .infos{
        width: 250px;
        margin-left: 6vw;
    }
    .bottom .infos h1{
        font-size: 25px;
        border-bottom: 3px solid aliceblue;
    }
    .bottom .infos h2{
        font-size: 15px;
    }
    .bottom .infos i{
        padding-right: 5px;
        font-size: 15px;
    }
    .bottom .social{
       text-align: center;
       font-size: 40px;
       padding: 20px 0;
    }
    .bottom p{
        font-size: 12px;
    }
    
}
  